.header__wrapper
	position: relative
	z-index: 5
	background: $fon
	display: grid
	padding: 24px 48px
	grid-template-columns: 1fr max-content 1fr
	grid-template-rows: max-content
	width: 100%
	border: 4px solid #F97247
	border-radius: 64px
	
	.nav
		grid-column: 2 / 3
		align-content: center
		&__menu			
			display: flex
			align-items: center
			width: 100%
			padding: 8px
			gap: 32px

	.btn__wrapper
		grid-column: 3 / 4
		justify-self: end
		display: flex
		gap: 14px
		align-items: center

.header__wrapper_mobile
	position: relative
	display: none
	border: 2px solid $accent
	border-radius: 64px
	padding: 10px 14px
	justify-content: flex-end
	.nav
		position: absolute
		top: 10vh
		left: 0
		background: $fon
		width: 100%
		z-index: 15
		.nav__menu_item
			display: block
			margin-bottom: 5px
			font-size: 18px
			line-height: 24px
			padding: 13px 20px
			border: 2px solid $accent
			border-radius: 28px