@media (prefers-reduced-motion: reduce)
	*
		animation-duration: 0.01ms !important
		animation-iteration-count: 1 !important
		transition-duration: 0.01ms !important
		scroll-behavior: auto !important

@media (max-width: 1370px)
	.container
		padding: 13px 20px 0 20px
	.header__wrapper
		grid-template-columns: 1fr max-content
		.nav
			grid-column: 1 / 2
		.btn__wrapper
			grid-column: 2 / 3

@media (max-width: 1200px)
	h1
		font-size: 70px
		line-height: 70px
		margin-bottom: 18px

	h2
		font-size: 36px
		line-height: 40px

	h3
		font-size: 26px
		line-height: 29px
		margin-bottom: 36px

	.header__wrapper
		.nav__menu
			gap: 24px

	.promo__content
		max-width: 570px

	.promo__blog
		max-width: 480px
		&_title
			margin-bottom: 21px
		&_wrapper
			height: 500px
			border-radius: 75px
			padding: 17px 11px 17px 17px

	.promo__blog_scroll
		border-radius: 58px
		&::-webkit-scrollbar
			width: 6px
		&::-webkit-scrollbar-track
			margin: 78px 0

	.promo__blog_item
		margin-right: 11px
		margin-bottom: 13px
		gap: 10px
		padding: 15px 50px
		border-radius: 58px		
		&-text
			font-size: 20px
			line-height: 24px

@media (max-width: 1024px)
	.header__wrapper
		.nav, .btn__wrapper
			display: none

	.promo__blog
		max-width: 480px
		&_title
			margin-bottom: 18px
		&_wrapper
			height: 420px
			border-radius: 50px
			padding: 10px 16px 10px 10px

	.promo__blog_scroll
		border-radius: 40px
		&::-webkit-scrollbar
			width: 4px
		&::-webkit-scrollbar-track
			margin: 60px 0

	.promo__blog_item
		margin-right: 6px
		margin-bottom: 10px
		gap: 6px
		padding: 15px 35px
		border-radius: 40px
		&-text
			font-size: 16px
			line-height: 20px
	
	.promo
		.animation
			.rotate
				.chips
					gap: 8px
					&__wrapper
						width: 50px
						gap: 12px

@media (max-width: 870px)
	.promo__blog
		max-width: 300px

@media (max-width: 768px)
	.container
		padding: 10px 10px 0 10px
	h1
		font-size: 46px
		line-height: 50px
		margin-bottom: 12px
		max-width: 300px
		margin: 0 auto

	h2
		font-size: 32px
		line-height: 40px

	h3
		font-size: 20px
		line-height: 26px
		margin-bottom: 24px

	.promo
		padding: 70px 0 145px 0
		.animation
			padding-left: 0
			height: 600px
			// transform: translateX(-10px)
			.rotate
				transform: rotate(90deg)
				width: 600px
				overflow: hidden
				.chips
					height: 300px
					justify-content: flex-end
				



	.promo__wrapper
		flex-direction: column
		align-items: center
		gap: 230px
	
	.promo__blog
		max-width: 570px
	
	.promo__content
		width: 100%
		text-align: center

	.btn__main
		display: block
		padding: 15px 30px
		font-size: 18px
		line-height: auto

	.footer
		border-radius: 50px 50px 0 0
		padding: 20px 10px
		&__wrapper
			flex-direction: column
			gap: 20px
			align-items: flex-start
		&__links
			flex-direction: column
			gap: 2px
			&_item
				font-size: 14px
				.hide
					display: block
		&__social_title
			text-align: left
			font-size: 14px
			margin-bottom: 8px

		&__icon
			width: 27px
			height: 27px
		.hide
			display: block