.btn
	padding: 14px
	border: 2px solid $second
	border-radius: 24px
	&.lang
		cursor: pointer
		display: flex
		align-items: center
		gap: 8px

.btn__main
	padding: 20px 72px
	background: $accent
	border-radius: 48px
	line-height: 24px
	font-size: 32px
	&-small
		padding: 14px 14px
		background: $accent
		border-radius: 24px