h1
	font-size: 96px
	font-weight: 500
	line-height: 96px
	margin-bottom: 24px

h2
	font-size: 40px
	font-weight: 600
	line-height: 40px
	text-transform: uppercase

h3
	font-size: 32px
	font-weight: 500
	line-height: 32px
	margin-bottom: 68px
	
.btn
	padding: 14px
	border: 2px solid $second
	border-radius: 24px
	text-transform: uppercase
	&.lang
		cursor: pointer
		display: flex
		align-items: center
		gap: 8px

.btn__main
	padding: 20px 72px
	background: $accent
	border-radius: 48px
	line-height: 24px
	font-size: 32px
	text-transform: uppercase
	&-small
		padding: 14px 14px
		background: $accent
		border-radius: 24px

.opacity20
	opacity: .2

.opacity40
	opacity: .4

.opacity60
	opacity: .6